:root {
  --lapisLazuli: #00557d;
  --cerulean: #0a82a2;
  --cadetGray: #7d99a9;
  --atomicTangerine: #e39172;
  --candyAppleRed: #f33721;
  --vermilion: #fd3938;
  --darkerBlack: #030201;
  --myrtleGreen: #267675;
}

@media (min-width: 601px) {
  footer {
    position: fixed;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--darkerBlack);
    margin-top: auto;
    z-index: 3;
  }
  .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
    color: var(--imperialRed);
    font-family: "Impact", sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.12em;
  }
  .footer_links_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
  .footer_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    width: 130px;
    border-left: 1px solid var(--imperialRed);
    border-right: 1px solid var(--imperialRed);
  }
  .footer_copyright_container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: end;
    letter-spacing: 0.02em;
  }
}

@media (max-width: 601px) {
  footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--darkerBlack);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--imperialRed);
    border-bottom: 1px solid var(--darkerBlack);
    width: 100%;
    position: fixed;
    z-index: 3;
    font-family: "Impact", sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    color: var(--imperialRed);
  }
  .footer_container {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .footer_links_container {
    display: flex;
    flex-direction: row;
  }
  .footer_link {
    text-align: center;
    border-left: 1px solid var(--imperialRed);
    border-right: 1px solid var(--im);
    letter-spacing: 0.12em;
    font-size: 0.9rem;
  }
  .footer_link:hover {
    text-decoration: underline;
  }
  .footer_copyright_container {
    font-size: 0.6rem;
    letter-spacing: 0.14em;
  }
}
