:root {
  --lapisLazuli: #00557d;
  --cerulean: #0a82a2;
  --cadetGray: #7d99a9;
  --atomicTangerine: #e39172;
  --candyAppleRed: #f33721;
  --vermilion: #fd3938;
  --darkerBlack: #030201;
  --myrtleGreen: #267675;
  --white: #fff;
}

.home_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile_image {
  display: none;
}

/* Tablet and Desktop */
@media only screen and (min-width: 601px) {
  .home_page {
    padding: 50px 0px;
    row-gap: 10px;
  }
  .card-container {
    display: none;
  }
  .home_title_desktop span span {
    position: relative;
    /* bottom: -1em; */
    opacity: 0;
    animation: move-text 0.75s forwards;
  }
  .home_subtitle_desktop span span {
    position: relative;
    /* bottom: -1em; */
    opacity: 0;
    animation: move-text 0.75s forwards;
  }
  .home_title_desktop span span {
    color: var(--white);
  }
  .home_title_desktop span span:nth-child(2n) {
    color: var(--cerulean);
  }
  .home_title_desktop span span:nth-child(3n) {
    color: var(--cadetGray);
  }
  .home_title_desktop span span:nth-child(4n) {
    color: var(--cerulean);
  }
  .home_title_desktop span span:nth-child(5n) {
    color: var(--myrtleGreen);
  }
  .home_title_desktop {
    font-size: 5em;
    text-align: center;
    font-weight: 600;
  }
  .home_subtitle_desktop {
    font-size: 2em;
    text-align: center;
    font-weight: 600;
  }
  .first_row_desktop {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 4px solid var(--darkerBlack);
    border-radius: 13px;
    width: 100%;
    padding: 20px 78px;
    margin-top: 50px;
  }
  .card-container-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
  }
  .card-container-desktop h1 {
    border: 4px solid var(--darkerBlack);
    /* background-color: var(--white); */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 50px;
  }
  .card-container-mobile,
  .card-container-desktop {
    width: 100%;
  }
  .card-container-desktop p {
    border: 4px solid var(--darkerBlack);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    margin: 1% 2%;
    padding: 20px 100px;
    font-size: 1.3em;
  }
  .second_row {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 4px solid var(--darkerBlack);
    border-radius: 13px;
    margin-top: 5px;
    flex: 1;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
  }
  .contact-container {
    padding: 30px 400px;
    text-align: center;
    /* background-color: #f9f9f9; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }
  .open-modal-button {
    padding: 6px;
    font-size: 1.1rem;
    color: #fff;
    background-color: var(--darkerBlack);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    border: 4px solid var(--white);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    grid-column: 2;
  }
  .open-modal-button:hover {
    background-color: var(--cerulean);
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
  .contact-form label {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--white);
    font-size: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border: 4px solid var(--cerulean);
    color: var(--darkerBlack);
  }
  .submit-button {
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--myrtleGreen);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    margin: 20px 0;
    align-self: center;
  }

  .submit-button:hover {
    background-color: var(--cerulean);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }

  @keyframes move-text {
    0% {
      bottom: -0.2em;
      opacity: 1;
    }

    50% {
      bottom: 0.2em;
    }

    100% {
      bottom: 0;
      opacity: 1;
    }
  }
  .fade-in {
    animation: fadeIn 1s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .success-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-shadow: 0 -2px 20px var(--cerulean);
    font-size: 1.5rem;
    text-align: center;
  }
  .fade-in-top {
    animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @keyframes fade-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 600px) {
  .first_row_desktop {
    display: none;
  }
  .home_page {
    padding-top: 80px;
    row-gap: 5px;
  }
  .first_row {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-container-mobile {
    background-color: rgba(0, 0, 0, 0.3);
    border: 4px solid var(--darkerBlack);
    border-radius: 10px;
    padding: 20px 5px;
  }
  .second_row {
    border-radius: 10px;
    padding: 20px 5px;
    opacity: 0;
    transition: opacity 2s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .second_row h1 {
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: 2px solid var(--white);
    border-radius: 10px;
    margin-bottom: 10px;
    color: var(--white);
    background-color: var(--darkerBlack);
  }
  .second_row p {
    text-align: center;
    padding: 14px;
    border: 2px solid var(--white);
    border-radius: 10px;
    background-color: var(--darkerBlack);
    color: var(--white);
    line-height: 1.5;
  }
  .image_card {
    overflow: hidden;
  }
  .profile_image {
    display: block;
    border-radius: 10px;
  }
  /* Container for the cards */
  .card-container {
    position: relative;
    margin-left: 25px;
    width: 300px;
    height: 400px;
    padding-bottom: 20px;
  }

  /* Common styles for all cards */
  .card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    animation: slideIn 0.5s ease forwards;
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  opacity: 1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
