@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lapisLazuli: #00557d;
  --cerulean: #0a82a2;
  --cadetGray: #7d99a9;
  --atomicTangerine: #e39172;
  --candyAppleRed: #f33721;
  --vermilion: #fd3938;
  --darkerBlack: #030201;
  --myrtleGreen: #267675;
  --white: #fff;
}
.skills_page {
  width: 100%;
  height: 100vh;
}
.skills_container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 4px solid var(--darkerBlack);
  padding: 30px;
}

.skills_atom {
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 600px;
  max-height: 600px;
  perspective: 800px;
  position: relative;
}
.skills_nucleus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16.67%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkerBlack);
  color: var(--vermilion);
  border-radius: 50%;
  border: 4px double var(--atomicTangerine);
  box-shadow: 0 0 5px var(--atomicTangerine);
}
.skills_orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform: rotateX(80deg) rotateY(200deg);
  border: 6px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease;
}
.skills_path {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: pathRotate 8s linear infinite;
}

.skills_electron {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotateX(-80deg) rotateY(-200deg)
    rotateY(180deg);
  width: 40px;
  height: 40px;
  border-radius: 30px/10px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: var(--darkerBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.skills_atom .skills_orbit:nth-child(2) {
  transform: rotateX(80deg) rotateY(250deg);
}
.skills_atom .skills_orbit:nth-child(3) {
  transform: rotateX(80deg) rotateY(160deg);
}
.skills_atom .skills_orbit:nth-child(4) {
  transform: rotateX(80deg) rotateY(130deg);
}
.skills_atom .skills_orbit:nth-child(2) .skills_path,
.skills_atom .skills_orbit:nth-child(2) .skills_electron {
  animation-delay: -1s;
}
.skills_path,
.skills_atom .skills_orbit:nth-child(3) .skills_electron {
  animation-delay: -1.5s;
}
.skills_path,
.skills_atom .skills_orbit:nth-child(4) .skills_electron {
  animation-delay: -0.5s;
}

.skills_orbit:nth-child(2) .skills_electron {
  transform: translateX(-50%) translateY(-50%) rotateX(-80deg) rotateY(-250deg)
    rotateY(180deg);
  width: fit-content;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.skills_orbit:nth-child(3) .skills_electron {
  transform: translateX(-50%) translateY(-50%) rotateX(-80deg) rotateY(-160deg)
    rotateY(180deg);
  width: fit-content;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.skills_orbit:nth-child(4) .skills_electron {
  transform: translateX(-50%) translateY(-50%) rotateX(-80deg) rotateY(-130deg)
    rotateY(180deg);
  width: fit-content;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

@keyframes pathRotate {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes electronFix {
  to {
    transform: rotateX(90deg) rotateY(-360deg);
  }
}

@media (max-width: 768px) {
  .skills_page {
    padding: 0px 20px;
    padding-top: 20px;
  }
  .skills_atom .skills_orbit:nth-child(2) {
    transform: rotateX(70deg) rotateY(230deg);
  }
  .skills_container {
    padding: 20px;
  }
  .skills_atom .skills_orbit:nth-child(3) {
    transform: rotateX(70deg) rotateY(140deg);
  }
  .skills_atom .skills_orbit:nth-child(4) {
    transform: rotateX(70deg) rotateY(110deg);
  }
  .skills_orbit {
    transform: rotateX(70deg) rotateY(180deg);
    border: 4px solid rgba(255, 255, 255, 0.3);
  }
  .skills_electron {
    transform: translateX(-50%) translateY(-50%) rotateX(-70deg)
      rotateY(-180deg) rotateY(180deg);
  }
  .skills_orbit:nth-child(2) .skills_electron {
    transform: translateX(-50%) translateY(-50%) rotateX(-70deg)
      rotateY(-230deg) rotateY(180deg);
  }
  .skills_orbit:nth-child(3) .skills_electron {
    transform: translateX(-50%) translateY(-50%) rotateX(-70deg)
      rotateY(-140deg) rotateY(180deg);
  }
  .skills_orbit:nth-child(4) .skills_electron {
    transform: translateX(-50%) translateY(-50%) rotateX(-70deg)
      rotateY(-110deg) rotateY(180deg);
  }
  .skills_list_mobile_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .skills_list_mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 4px solid var(--darkerBlack);
    padding: 20px;
    border-radius: 10px;
  }
  .skills_front_end,
  .skills_back_end,
  .skills_tools,
  .skills_testing {
    border: 4px solid var(--darkerBlack);
    border-radius: 10px;
    background-color: var(--darkerBlack);
  }
  .skills_list_mobile_title {
    font-size: 1.2rem;
    padding: 10px 10px;
    border-bottom: 4px solid var(--white);
  }
  .skills_list_mobile_content {
    padding: 10px;
  }
  .skills_list_mobile_item {
    font-size: 1rem;
    padding: 5px;
    margin: 10px 0;
    border-bottom: 2px solid var(--white);
  }
}
