@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

:root {
  --lapisLazuli: #00557d;
  --cerulean: #0a82a2;
  --cadetGray: #7d99a9;
  --atomicTangerine: #e39172;
  --candyAppleRed: #f33721;
  --vermilion: #fd3938;
  --myrtleGreen: #267675;
}

@media (prefers-color-scheme: dark) {
  :root {
    --lapisLazuli: #00557d;
    --cerulean: #0a82a2;
    --cadetGray: #7d99a9;
    --atomicTangerine: #e39172;
    --candyAppleRed: #f33721;
    --myrtleGreen: #267675;
    --white: #fff;
  }
}

body,
html {
  color: var(--white);
  background: linear-gradient(
    var(--lapisLazuli) 0% 10%,
    var(--cerulean) 44% 25%,
    var(--cadetGray) 56% 58%,
    var(--atomicTangerine) 82% 86%,
    var(--candyAppleRed) 99%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Impact", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: 10% minmax(auto, 80%) 10%;
}
@media (max-width: 768px) {
  body {
    grid-template-columns: 10% minmax(auto, 80%) 10%;
  }
}
@media (max-width: 600px) {
  body {
    grid-template-columns: 10% minmax(auto, 80%) 10%;
  }
}

@media (max-width: 480px) {
  body {
    grid-template-columns: 1fr;
  }
}

#app {
  min-height: 100vh;
  grid-column: 2 / 3;
}
.footer {
  margin-top: auto; /* Push the footer to the bottom */
}
.hidden {
  display: none;
}
.block {
  display: block;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
